# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Builds
dist/
build/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Backend specific (if needed)
__pycache__/
*.pyc
venv/
env/
